@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#body{
    display:none;
}

.header{
    position: absolute;
    width: 262px;
    height: 207px;
    right: 44px;
    bottom: 0px;
    border-left: 4px solid;
    border-right: 4px solid;
    border-image: linear-gradient(1deg, #7837d4, #ffffff00) 2;
    background: linear-gradient(180deg, rgba(75, 48, 125, 0.04) 0%, rgba(75, 48, 125, 0.54) 11.46%, rgba(62, 34, 111, 0.62) 21.35%, rgba(28, 0, 75, 0.87) 68.75%);

}

.circulostaff{
    position: absolute;
    width: 37px;
    height: 37px;
    right: 202px;
    bottom: 32px;
    border-radius: 50%;
    background: linear-gradient(180deg, #32125A 47.4%, #5E447D 88.54%);
    border: 2px solid #472E69;
}

.circulostaff img{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 7px;
    bottom: 7px;
}

.circulostaff span{
    position: absolute;
    width: 64px;
    height: 32px;
    right: -75px;
    bottom: -2px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.circuloplayer{
    position: absolute;
    width: 37px;
    height: 37px;
    right: 81px;
    bottom: 32px;
    border-radius: 50%;
    background: linear-gradient(180deg, #32125A 47.4%, #5E447D 88.54%);
    border: 2px solid #472E69; 
}

.circuloplayer img{

    position: absolute;
    width: 19px;
    height: 19px;
    right: 9px;
    bottom: 10px;

}

.circuloplayer span{
    position: absolute;
    width: 64px;
    height: 32px;
    right: -75px;
    bottom: -2px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.headertime{
    box-sizing: border-box;
    position: absolute;
    width: 221px;
    height: 33px;
    right: 21px;
    bottom: 90px;  
    background: linear-gradient(180deg, rgba(77, 53, 114, 0.7) 40.63%, rgba(103, 87, 129, 0.88) 100%);
    border: 2px solid #5A447A;
}

.headertime img{
    position: absolute;
    width: 27px;
    height: 27px;
    right: 186px;
    bottom: 2px;
}

.headertime span{
    position: absolute;
    width: 84px;
    height: 22px;
    right: 98px;
    bottom: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px; 
    color: #FFFFFF;
}

.headertime span2{
    position: absolute;
    width: 84px;
    height: 22px;
    right: 7px;
    bottom: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px; 
    color: #FFFFFF;
}

.headertime span3{
    position: absolute;
    width: 84px;
    height: 22px;
    right: -15px;
    bottom: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px; 
    color: #FFFFFF;
}

.name span{
    position: absolute;
    width: 170px;
    height: 21px;
    right: 40px;
    bottom: 139px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.name img{
    position: absolute;
    width: 111px;
    height: 73px;
    left: 72px;
    top: -35px;
}

.headertop{
    position: absolute;
    width: 474px;
    height: 118px;
    left: 708px;
    top: 0px;
    border-left: 4px solid;
    border-right: 4px solid;
    border-image: linear-gradient(180deg, #7837d4, #ffffff00) 2;
    background: linear-gradient(180deg, rgba(29, 1, 77, 0.77) 28.13%, rgba(54, 26, 105, 0.36) 88.54%, rgba(112, 18, 213, 0) 100%);
}

.headertimetop{
    box-sizing: border-box;
    position: absolute;
    width: 221px;
    height: 33px;
    left: 27px;
    top: 65px;
    background: linear-gradient(180deg, rgba(77, 53, 114, 0.7) 40.63%, rgba(103, 87, 129, 0.88) 100%);
    border: 2px solid #5A447A;
}

.headertimetop img{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 7px;
    top: 0px;
}

.headertimetop span{
    position: absolute;
    width: 84px;
    height: 22px;
    left: 36px;
    top: 4px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    
    color: #FFFFFF;
}

.headertimetop span2{
    position: absolute;
    width: 84px;
    height: 22px;
    left: 132px;
    top: 4px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    
    color: #FFFFFF;
}

.headertimetop span3{
    position: absolute;
    width: 57px;
    height: 20px;
    left: 149px;
    top: 4px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    
    color: #FFFFFF;
}

.circulostafftop{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 26px;
    top: 13px;
    border-radius: 50%;
    background: linear-gradient(180deg, #32125A 47.4%, #5E447D 88.54%);
    border: 2px solid #472E69;
}

.circulostafftop img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 7px;
    top: 7px;
    

}

.circuloplayertop span{
    position: absolute;
    width: 64px;
    height: 32px;
    left: 49px;
    top: 10px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;
    
}

.circulostafftop span{
    position: absolute;
    width: 64px;
    height: 32px;
    left: 49px;
    top: 10px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;
    
}

.circuloplayertop{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 150px;
    top: 13px;
    border-radius: 50%;
    background: linear-gradient(180deg, #32125A 47.4%, #5E447D 88.54%);
    border: 2px solid #472E69;
}

.circuloplayertop img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 7px;
    top: 7px;
    

}

.circuloplayertop span{
    position: absolute;
    width: 64px;
    height: 32px;
    left: 49px;
    top: 10px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;
    
}

.nametop{
    position: absolute;
    width: 102px;
    height: 67px;
    left: 316px;
    top: 42px;
}

.nametop img{
    width: 102px;
    height: 67px;
    left: 555px;
    top: 34px;
}

.nametop span{
    position: absolute;
    width: 170px;
    height: 21px;
    left: -33px;
    top: -17px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    
    color: #FFFFFF;
}

.changueheader{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    
    background: radial-gradient(50% 50% at 50% 50%, rgba(182, 151, 209, 0) 0%, rgba(76, 10, 186, 0.57) 100%);
}

.close{
    cursor: pointer;
}

.close img{
    position: absolute;
    width: 49px;
    height: 49px;
    left: 130px;
    top: 102px;
}

.close:hover{
    transition: transform .5s ease;
    text-shadow: -1px 1px 41px #FFFFFF;
}

.close span{
    position: absolute;
    width: 159px;
    height: 46px;
    left: 195px;
    top: 105px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    
    color: #FFFFFF;
}


.header:hover{
    cursor: pointer;
    transition: transform .5s ease;
    transform: scale(1.1);
    text-shadow: -1px 1px 41px #FFFFFF;
}

.headertop:hover{
    cursor: pointer;
    transition: transform .5s ease;
    transform: scale(1.1);
    filter: drop-shadow(7px 4px 35px #1B004B);
}

::-webkit-scrollbar {
    display: none;
}

.closetext span{
    position: absolute;
    width: 403px;
    height: 180px;
    left: 130px;
    top: 441px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 88px;
    
    color: #FFFFFF;
}

.line{
    position: absolute;
    width: 362px;
    height: 10px;
    left: 136px;
    top: 611px;
    
    background: #D9D9D9;
}